 
.media
  .media-body
    %table.table.table-hover 
      %thead
        %tr
          %th Date
          %th Bid
          %th Ask
          %th
          %th
          %th

      %tbody
        - @currencies.each do |currency|
          %tr
            %td= currency.date
            %td= currency.bid
            %td= currency.ask
            %td= link_to 'Show', currency
            %td= link_to 'Edit', edit_currency_path(currency)
            %td= link_to 'Destroy', currency, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

%h3 
  Import Currency course
  = form_tag import_currencies_path, multipart: true do
    = file_field_tag :file
    = submit_tag "Upload currencies"
  


= link_to 'Home', root_path
